`<Slide transitionEffect="slide">
		<FlexBox height="15%" flexDirection="row" justifyContent="center">
			<Text color="secondary" fontSize="80px">
				Courses to Take
			</Text>
		</FlexBox>
		<FlexBox height="85%" flexDirection="column" alignItems="flex-start">
			<UnorderedList fontSize="20px">
				<Text color="secondary" fontSize="25px">
					Pre College
				</Text>
				<ListItem>Mathematics</ListItem>
				<ListItem>Science</ListItem>
				<ListItem>Any programming type classes that are available</ListItem>
				<ListItem>Online!</ListItem>
				<Text color="secondary" fontSize="25px">
					College
				</Text>
				<ListItem>Mathematics</ListItem>
				<ListItem>Pre Defined Computer Courses</ListItem>
			</UnorderedList>
		</FlexBox>
		<Image
			src="https://cdn.promessinc.com/wp-content/themes/promess/images/Promess-Incorporated.png"
			width="180"
			height="auto"
			alt="Company Logo"
			align="left"
		/>
	</Slide>
`